<div class="container">
    <div class="row">
      <div class="col-xs-12">
        <h3> Test Technique </h3>
        <hr>
      </div>
    </div>
</div>
<div class="container">
    <table class="table" *ngIf="entries$ | async as dataList">
      <thead>
        <tr>
          <th scope="col">Api</th>
          <th scope="col">Description</th>
          <th scope="col">Category</th> 
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of dataList">
          <td >{{ item?.API }}</td>
          <td >{{ item?.Description }}</td>
          <td >{{ item?.Category }}</td>
        </tr>
      </tbody>
    </table>
  </div>